.js_cls_sh_website_back_to_top{
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 999;
    right: 27px;
    bottom: 12px;
}
.js_cls_sh_website_back_to_top .fa-chevron-up{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    color: #fff;
    display: block !important;
    transform: translate(-50%,-50%);
}